{% block sw_order_line_items_grid_column_payload_options_link %}
	<router-link v-if="item.payload && item.payload.options" class="sw-order-line-items-grid__item-payload-options" :title="$tc('sw-order.detailBase.contextMenuShowProduct')" :to="{ name: 'sw.product.detail', params: { id: item.productId } }">
		<sw-product-variant-info :variations="item.payload.options">
			<div class="sw-order-line-items-grid__item-label">
				{{item.payload.productNumber}}
				-
				{{ item.label }}
			</div>
		</sw-product-variant-info>
	</router-link>
{% endblock %}
