{% block sw_order_line_items_grid_column_payload_options %}
	<router-link v-if="item.payload && item.payload.options" target="_blank" class="sw-order-line-items-grid-sales-channel__item-payload-options" :title="$tc('sw-order.detailBase.contextMenuShowProduct')" :to="{ name: 'sw.product.detail', params: { id: item.identifier || item.id } }">
		<sw-product-variant-info :variations="item.payload.options">
			<div class="sw-order-line-items-grid__item-label">
				{{item.payload.productNumber}}
				-
				{{ item.label }}
			</div>
		</sw-product-variant-info>
	</router-link>

	<div v-else class="sw-order-line-items-grid-sales-channel__item-payload-options">
		<span class="sw-order-line-items-grid__item-label">
			{{ item.label }}
		</span>
	</div>
{% endblock %}
